@using CodeIt.Web.Areas.Administration.Controllers;

@model IList<ChallengeTestAdministrationViewModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Input</th>
                <th>Output</th>
                <th>Correct</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Model[@i].Id
                        </td>
                        <td>
                            @Html.TextAreaFor(x => Model[@i].Input)
                        </td>
                        <td>
                            @Html.TextAreaFor(x => Model[@i].Output)
                        </td>
                        <td>
                            @using (Html.BeginForm(nameof(TestController.Update), "Test", new { id = Model[@i].Id }, FormMethod.Post, new { role = "form" }))
                            {
                                <input type="submit" class="btn btn-default" value="Save" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm(nameof(TestController.Delete), "Test", new { id = Model[@i].Id, returnUrlId = Request.Url.Segments[4] }, FormMethod.Post, new { role = "form" }))
                            {
                                <input type="submit" class="btn btn-danger" value="Delete" />
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>