@{
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

@using CodeIt.Web.Controllers;

<ul class="nav nav-tabs">
    <li class="nav-item">
        @Ajax.ActionLink("Problem", nameof(ChallengeController.Problem), "Challenge", new { title = ViewBag.ChallengeTitle }, new AjaxOptions()
   {
       HttpMethod = "GET",
       AllowCache = true,
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "challenge-panel"
   }, new { id = "problem-link"})

    </li>
    <li class="nav-item">
        @Ajax.ActionLink("Submissions", nameof(SubmissionController.SubmissionsByChallenge), "Submission", new { title = ViewBag.ChallengeTitle }, new AjaxOptions()
   {
       HttpMethod = "GET",
       AllowCache = true,
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "challenge-panel"
   }, new { id = "submissions-link" })
    </li>
</ul>

<div id="challenge-panel"></div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#problem-link').click();
        });
</script>