@{
    Layout = "./ChallengeLayout.cshtml";
}

@using CodeIt.Web.ViewModels.Challenge;

@model ChallengeViewModel

<h1>@Model.Title</h1>
<text>
    @Html.Raw(@Model.Description);
</text>
<div id="code-editor"></div>

<script src="~/Scripts/Code Editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
        var editor = ace.edit("code-editor");
</script>