@using CodeIt.Web.Areas.Administration.Controllers;

<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            @Html.ActionLink("Statistics", nameof(DashboardController.Index), "Dashboard", new { @class = "nav-link" })
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            @Html.ActionLink("Add Challenge", nameof(ChallengeController.Create), "Challenge", new { @class = "nav-link" })
        </li>
    </ul>
</nav>