@{
    ViewBag.Title = "CodeIt";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid front-page">
    <img src="~/Content/Assets/front-computer.jpg" />
</div>

<div class="container" style="text-align:center">
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <img src="~/Content/Assets/devs-image.png" alt="developers" />
            <p>
                CodeIt is a free site for learning, practicing and updagrading your programming skills.
            </p>
            <a href="/Account/SignIn" class="btn btn-success">Practice</a>
        </div>
    </div>
</div>
