@using CodeIt.Web.ViewModels.Challenge
@using CodeIt.Web.Controllers;

@model CodeIt.Web.ViewModels.Challenge.ChallengeListViewModel

<div>
    <h4>Model.Name</h4>
    <button>Solve</button>
    @Html.ActionLink("Solve", nameof(ChallengeController.Index), new { title = Model.Title }, new { @class = "btn btn-success" })
</div>

