body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px
}

.front-page.jumbotron {
    padding: 0
}

    .front-page.jumbotron img {
        width: 100%;
        height: 600px
    }

#main-nav a.navbar-brand {
    padding-top: 0px;
}

/* Account */
.form-account {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-account .form-account-heading,
    .form-account .checkbox {
        margin-bottom: 10px;
    }

    .form-account .checkbox {
        font-weight: normal;
    }

    .form-account .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-account .form-control:focus {
            z-index: 2;
        }

    .form-account input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-account input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

select#langs-dropdown, select#categories-list, select#tracks-list {
    height: 35px;
}

#code-editor {
    /*position: absolute;*/
    width: 100%;
    height: 250px;
}
